<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Input Kart Stats in Numerical Value.</h1>
    <form method="POST" action="/result/">
        Drift : <input type="text" value="500" name="drift">
        Accel : <input type="text" value="500" name="accel">
        Corner : <input type="text" value="500" name="corner">
        Boost Time : <input type="text" value="500" name="boost_time">
        Boost Charge : <input type="text" value="500" name="boost_charge">
        <br>
        <br>
        <input type="submit" value="Predict">
    </form>
    
</body>
</html>